.PC_Quantity {
  text-align: center !important;
  font-size: 30px !important;
  height: 60px !important;
}

.PC_Weight {
  text-align: center !important;
  font-size: 30px !important;
  height: 60px !important;
}

.PC_PalletBtn {
  margin-top: 50px;
  font-size: 30px;
}

.PlatenCut_Machine_NewPalet {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#PalletRef {
  text-align: center !important;
  font-size: 30px !important;
  height: 60px !important;
}
.NB_PalletBtn {
  margin-top: 50px;
  font-size: 30px;
}

.PlatenCut_Machine {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 220px;
}

.PlatenCut_MachineLeft {
  position: absolute;
  top: 0px;
  width: 390px;
  left: 0px;
  bottom: 0px;
  border-right: solid 1px #aaa;
  background: #fff;
}

.PlatenCut_MachineLeft2 {
  float: left;
  position: relative;
  width: 100%;
  min-height: 180px;
  border-right: solid 1px #aaa;
  background: #fff;
}

.PlatenCut_MachineName {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

.PlatenCut_Machine_NR {
  position: absolute;
  top: 60px;
  right: 10px;
}

.PlatenCut_Machine_NewBanqueta {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.PlatenCut_Machine_LibrePalet {
  position: absolute;
  right: 10px;
  top: 60px;
}

.PlatenCut_Machine_BanquetasTable {
  background: #ccc;
}

.PlatenCut_Machine_MaterialId {
  display: none;
}

.PlatenCut_Machine_NrId {
  position: absolute;
  top: 55px;
  left: 10px;
  font-size: 30px;
  color: #337ab7;
}

.PlatenCut_Machine_OutContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  color: #b77a33;
}

.PlatenCut_Machine_OrderId {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.PlatenCut_Machine_OpenWork {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 165px;
}

.PlatenCut_Machine_OpenWork2 {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 165px;
}

.PlatenCut_MachineHeader {
  position: absolute;
  left: 390px;
  top: 0px;
  right: 0px;
  height: 45px;
  background: #333;
  margin: 0px;
  padding: 0px;
  color: #fff;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 3px;
}

.PlatenCut_MachineHeader2 {
  float: left;
  position: relative;
  width: 100%;
  height: 45px;
  background: #333;
  margin: 0px;
  padding: 0px;
  color: #fff;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 3px;
}

.PlatenCut_MachineHead {
  float: left;
  height: 100%;
  padding-top: 8px;
  width: 120px;
  overflow: hidden;
}

.PlatenCut_MachineHead2 {
  float: left;
  height: 100%;
  padding-top: 8px;
  width: 110px;
  overflow: hidden;
}

.PlatenCut_Machine_Tabla {
  float: right;
  margin-top: 50px;
  min-height: 180px;
  padding-left: 400px;
  width: 100%;
  background: #f0f0f0;
}

.PlatenCut_Machine_Tabla2 {
  float: right;
  margin-top: 50px;
  min-height: 130px;
  padding-left: 0px;
  width: 100%;
}

.PlatenCut_MachineRow {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}

.PlatenCut_MachineRow-selected {
  background: #337ab7;
  color: #fff;
}

.PlatenCut_MachineColumn {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 120px;
  font-size: 25px;
  position: relative;
}

.PlatenCut_Extra {
  position: absolute;
  right: 0px;
  top: -8px;
  font-size: 18px;
}

.PlatenCut_MachineColumn2 {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 110px;
}

.PlatenCut_MachineRowButton {
  position: absolute;
  width: 150px;
  right: 10px;
  top: 3px;
}
.PlatenCut_MachineRowButton2 {
  position: absolute;
  left: 720px;
  right: 10px;
  top: 0;
}
