.Schlatter_Machine {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 220px;
}

.Schlatter_MachineLeft {
  position: absolute;
  top: 0px;
  width: 380px;
  left: 0px;
  bottom: 0px;
  border-right: solid 1px #aaa;
  background: #fff;
  z-index: 1;
}

.Schlatter_MachineLeft2 {
  float: left;
  position: relative;
  width: 100%;
  min-height: 180px;
  border-right: solid 1px #aaa;
  background: #fff;
}

.Schlatter_MachineName {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}

.Schlatter_Machine_NR {
  position: absolute;
  top: 60px;
  right: 10px;
}

.Schlatter_Machine_NewPallet {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.Schlatter_Machine_LibrePalet {
  position: absolute;
  right: 10px;
  top: 60px;
}

.Schlatter_Machine_PalletsTable {
  background: #ccc;
}

.Schlatter_PalletLine {
  position: absolute;
  bottom: 0px;
  left: 10px;
  right: 10px;
  border-bottom: solid 1px #aaa;
  height: 1px;
}

.Schlatter_PalletsBody {
  width: 100%;
  float: left;
  padding: 10px;
}

.Schlatter_PalletLabel {
  position: absolute;
  right: 195px;
  font-size: 35px;
  top: -10px;
  color: #000;
}

.Schlatter_FreePallet {
  position: absolute;
  right: 10px;
  top: -10px;
}

.Schlatter_Machine_MaterialId {
  display: none;
}

.Schlatter_Machine_NrId {
  position: absolute;
  top: 55px;
  left: 10px;
  font-size: 30px;
  color: #337ab7;
}

.Schlatter_Machine_OutContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  color: #b77a33;
}

.Schlatter_Machine_OrderId {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.Schlatter_Machine_OpenWork {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 165px;
}

.Schlatter_Machine_OpenWork2 {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 165px;
}

.Schlatter_MachineHeader {
  position: absolute;
  left: 380px;
  top: 0px;
  right: 0px;
  height: 45px;
  background: #333;
  margin: 0px;
  padding: 0px;
  color: #fff;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 3px;
}

.Schlatter_MachineHeader2 {
  float: left;
  position: relative;
  width: 100%;
  height: 45px;
  background: #333;
  margin: 0px;
  padding: 0px;
  color: #fff;
  padding-left: 10px;
  font-size: 18px;
  padding-top: 3px;
}

.Schlatter_MachineHead {
  float: left;
  height: 100%;
  padding-top: 8px;
  width: 120px;
  overflow: hidden;
}

.Schlatter_MachineHead2 {
  float: left;
  height: 100%;
  padding-top: 8px;
  width: 110px;
  overflow: hidden;
}

.Schlatter_Machine_Tabla {
  float: right;
  margin-top: 50px;
  min-height: 180px;
  padding-left: 190px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
}

.Schlatter_Machine_Tabla2 {
  float: right;
  margin-top: 50px;
  min-height: 130px;
  padding-left: 0px;
  width: 100%;
}

.Schlatter_MachineRow {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}

.Schlatter_MachineRow-selected {
  background: #337ab7;
  color: #fff;
}

.Schlatter_MachineColumn {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 120px;
  font-size: 25px;
  position: relative;
}

.Schlatter_Extra {
  position: absolute;
  right: 0px;
  top: -8px;
  font-size: 18px;
}

.Schlatter_MachineColumn2 {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 110px;
}

.Schlatter_MachineRowButton {
  position: absolute;
  width: 150px;
  right: 10px;
  top: 3px;
}
.Schlatter_MachineRowButton2 {
  position: absolute;
  left: 720px;
  right: 10px;
  top: 0;
}

.Schlatter_Machine_Pause {
  position: absolute;
  top: 1px;
  right: 175px;
  width: 165px;
}

.Schlatter_Machine_NewBanquette {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
